html,body{
    width: 100vw;
    height: 100vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal{
    width: 30%;
    height: 70%;
    padding: 1rem 0rem 1rem 1rem;
    background-color: darkgrey;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
}

.lblvalor{
    width: 90%;
    height: 15%;
    margin-bottom: 0.5rem;
    display: block;
    background-color: white;
    font-weight: 900;
    font-size: 1.8rem;
    text-align:end;
    border-radius: 5px;
}

.btn{
    width: 20%;
    height: 12%;
    margin:0.25rem;
    border-radius: 90px;
    border: none;
}

.apagar{
    display: block;
    width: 88%;
    height: 12%;
    margin:0.25rem;
    border-radius: 30px;
    border: none;
}

@media screen and (min-width:1200px){
    
    .principal{
        width: 24%;
    }
}

@media screen and (max-width:900px){
    
    .principal{
        width: 50%;
    }
}

@media screen and (max-width:550px){
    
    .principal{
        width: 60%;
    }
}

@media screen and (max-width:400px){
    
    .principal{
        width: 80%;
    }
}

